.carousel {
    display: flex;
    align-items: center;
    position: relative;
}

.navBtn {
    background: none;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    padding: 8px;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--background);
    border-radius: 50%;

    &:first-of-type {
        left: -40px;

        @media screen and (max-width: 1024px) {
            left: -20px;
        }
    }

    &:last-of-type {
        right: -40px;

        @media screen and (max-width: 1024px) {
            right: -20px;
        }
    }

    &.innerButtons {
        top: auto;
        position: static;
        transform: none;

        &:first-of-type {
            left: 0;
        }

        &:last-of-type {
            right: 0;
        }
    }
}

.navBtnDisabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.viewport {
    overflow: hidden;
    scroll-behavior: smooth;
    flex: 1;
    cursor: grab;
    scroll-snap-type: x mandatory;
}

.viewport:active,
.dragging {
    cursor: grabbing !important;
}

.track {
    display: flex;
    user-select: none;
    justify-content: stretch;
    align-items: stretch;
}

.cell {
    position: relative;
    scroll-snap-align: start;
}